<section class = "user_profile_details">
    <h3>Profile</h3>
    
    <h5><%= @user.name %></h5>
   
    <p>
    <strong>Studio: </strong>
   
    </p>


    <p>
    <strong>Studio Location: </strong>

    </p>

    <p>
    <strong>Followers: </strong>

    </p>
</section>


<div class = "user_profile_projects" >
    <p>
    <strong>Recent Projects: </strong>
    </p>

    <ul>
        <% @user.each do |project| %>
            <li>
                <%= link_to cl_image_tag(project.image, class: 'index_image'), project_path(project.id) %> 
            </li>
        <% end %>
    </ul>  
</div>

