<h1>Library: <%= @library.name %> </h1>
<%= cl_image_tag @library.image %> 
<ul>
  <% @library.projects.each do |l| %>
    <li>
      <%= link_to l.title, project_path(l.id) %>
      |
    </li>
  <% end %>
</ul> 

 