<h2><%= @library.name %> </h2>
<%= cl_image_tag @library.image %> 
<ul>
  <% @library.projects.each do |l| %>
    <li>
      <%= link_to cl_image_tag(l.image, class: 'index_image'), project_path(l.id) %>
      
    </li>
  <% end %>
</ul> 

 