
<ul>
    <% @projects.each do |project| %>


    <li>
        <section>
            <%= link_to cl_image_tag(project.image, class:'index_image'), project_path(project.id) %> 
            <br>
            <%= project.title %>
        </section>
    </li>

    <% end %>
</ul>ß