nav{
    background-color: #E27D60;
    color: white;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:10px;
    text-decoration: none;
}
.nav_links{

    background-color: aqua;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 1px;    
}

.right_end_buttons{
    float: right;
    margin-right: 100px;
}
#user_acc_img{
    float:right;
    position:relative;
    top:20px;

    height:50px;
    width:50px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid black;
    padding: 3px;
    background-color: white;
    border-radius: 50%
}

body{
    position: static;
    padding:100px 20px 100px 20px;
    font-size: 12px;
}

#index_title{
    margin:-8px 0px 0px 10px;
    position:absolute;
    overflow-wrap: break-word;

}

footer{
    background-color: #E27D60;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
}
.web_logo{
    text-decoration: none;
}
.user_image{
height:100px;
width:100px;
object-fit: cover;
margin: 5px;
border: 2px solid black;
padding: 2px;
border-radius: 50%
}

.index_image{
height:200px;
width:200px;
object-fit: cover;
margin: 5px;
border-radius:5px;
margin-top: 20px;
}

ul{
    list-style-type: none;
    display: center;
    padding-inline-start: 20px;
}

li{
    display: inline-block;
   
}

.project_image{
    max-height: 100vh;
}