nav{
    background-color: #E27D60;
    color: white;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
   
    padding:10px;
    text-decoration: none;
    
}

#logo{
    height:70px;
    width: auto;
    display: absolute;
    vertical-align: center;
}
.nav_links{

    background-color: aqua;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 1px;    
}

.right_end_buttons{
    float: right;
    margin-right: 100px;
}
.log_sign_buttons{
    float: right;
    margin-right: 50px;
}
#user_acc_img{
    float:right;
    position:absolute;
    bottom:1px;
    right: 40px;

    height:40px;
    width:40px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid black;
    padding: 3px;
    background-color: white;
    border-radius: 50%
}

body{
    position: static;
    padding:100px 20px 100px 20px;
    font-size: 12px;
    text-align: justify;
    
}



footer{
    background-color: #E27D60;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
}
.web_logo{
    text-decoration: none;
}
.user_image{
height:100px;
width:100px;
object-fit: cover;
margin: 5px;
border: 2px solid black;
padding: 2px;
border-radius: 50%
}

.index_image{
height:200px;
width:200px;
object-fit: cover;
margin: 10px;
border-radius:5px;
margin-top: 50px;
}
#index_title{
    width:200px;
    margin:-5px 0px 0px 10px;
    position:absolute;
    overflow-wrap: break-word;
    z-index: -100;
}

ul{
    list-style-type: none;
  
    padding-inline-start: 20px;
    
}

li{
    display: inline-block;
   
}

.project_image{
    max-height: 100vh;
}

.user_profile_details{
    position:fixed;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
  
}

.user_profile_projects{
 float:right;

}