nav{
    background-color: #E27D60;
    color: white;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:10px;
    text-decoration: none;
}
.nav_links{

    background-color: aqua;
    padding: 2px 5px 2px 5px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 1px;    
}
body{
    position: static;
    padding:100px;
    font-size: 12px;

}
footer{
    background-color: #E27D60;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    text-align: center;
}
.web_logo{
    text-decoration: none;
}
.user_image{
height:100px;
width:100px;
object-fit: cover;
margin: 5px;
border: 2px solid black;
padding: 2px;
border-radius: 50%
}

.index_image{
height:200px;
width:200px;
object-fit: cover;
margin: 5px;
border-radius:5px;
margin-top: 20px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

.project_image{
    max-height: 100vh;
}